.container
    | 12312
    .jumbotron
        h1(style="font-size:200px;") Kai
        p A dashboard with data visualization tools
        p
            a.btn.btn-primary.btn-lg(href="#",role="button") Learn more

