//
   Created by yangdongxu on 15/4/28.


form.kai-form
    table
        tr
            td
                |field 1
            td
                input.form-control(type="text",value="field 1 value",style="width:400px")
