.kai-sider-nav
    font-size: 12px

    .nav-list
        margin-top: 20px
        list-style: none
        padding: 10px
        a,
        a:hover,
        a:active
            display: inline-block
            overflow: hidden
            width: 130px
            color: #333
            padding: 8px 10px
            //border-left: 2px solid transparent
            span
                margin-left: 5px
                line-height: 1

        a:hover
            background: #eee
        .active a
            color: #fff
            background: #446e9b
            //border-left: 2px solid #01BFDB
