//
   Created by yangdongxu on 15/4/12.

div(ng-controller="FormDemoCtrl",ng-init="init()",style="padding:10px 20px;margin-top:30px;")
    div(kai-form,form-name="formName",fields="fields",options="options",model="formModel")

