//
   Created by yangdongxu on 15/4/12.

div(ng-controller="FormDemoCtrl",ng-init="init()",style="padding:10px 20px;margin-top:30px;")
    div(kai-form,form-config="formConfig")

    ui-select(ng-model="country.selected",
    kai-select-open-to-selected,
    theme="selectize",
    ng-disabled="disabled",
    style="width: 300px;",
    required)
        ui-select-match(placeholder="Select or search a country in the list...") {{$select.selected.name}}
        ui-select-choices(repeat="country in countries | filter: $select.search")
            span(ng-bind-html="country.name | highlight: $select.search")
            small(ng-bind-html="country.code | highlight: $select.search")

